<header class="header">

      <a href="/" class="logo">
          <img src="images/a1.jpeg" alt="" style="border-radius: 35px;">
      </a>
  
      <nav class="navbar">
          <a href="/">Ana Sayfa</a>
          <a href="about">Hakkımızda</a>
          <a href="menu">Menü</a>
          <a href="urunlerimiz">Ürünler</a>
          <a href="yorumlar">Yorumlar</a>          
          <a href="blog">Blog</a>
      </nav>
  
      <div class="icons">
          <div class="fas fa-search" id="search-btn"></div>
          <div class="fas fa-bars" id="menu-btn"></div>
      </div>
  
      <div class="search-form">
          <input type="search" id="search-box" placeholder="Bir şeyler yazınız...">
          <label for="search-box" class="fas fa-search"></label>
      </div>
  
  </header>