<section class="anasayfa" id="anasayfa">

    {{#each sliders}}
   <div class="content">
       <h3>{{title}}</h3>
       <p>{{content}}</p>
       <a href="#" class="btn">Ürünlerimiz</a>
   </div>
    {{/each}}

</section>